<section class="photos-list-container">
  <div class="header-row">
    <h1 class="page-title">
      <img src="assets/img/album-de-fotos.png" alt class="filter-icon"/>  
      Our Adventure Book
    </h1>
    <div class="floating-input-search">
      <input type="text" id="search" [(ngModel)]="searchTerm" placeholder=" " />
      <label for="search">🔍 Buscar por título</label>
    </div>
   
    <div class="floating-input-date">
      <input type="date" id="filtroFecha" [(ngModel)]="filterDate" placeholder=" " />
      <label for="filtroFecha">Filtrar por fecha</label>
    </div>
  </div>

  <div class="photos-grid">
    <div
      class="photo-card"
      *ngFor="let photo of filteredPhotos()"
      #photoElement
      [attr.data-photo-id]="photo._id"
      [ngStyle]="getRandomStyle(photo._id)"
    >
      <a [routerLink]="['/biblioteca', photo._id]">
        <img [src]="photo.imgUrl" [alt]="photo.title" />
      </a>
      <h2>{{ photo.title }}</h2>
      <button [routerLink]="['/biblioteca', photo._id]">Ver detalles</button>
    </div>
  </div>

  <p class="no-results" *ngIf="filteredPhotos().length === 0">
    No hay fotos que coincidan con los filtros
  </p>

  <img
    [class.visible]="showScrollTop"
    class="scroll-to-top-img"
    src="assets/img/subir.png"
    alt="Subir"
    role="button"
    tabindex="0"
    (click)="scrollToTop()"
    (keydown.enter)="scrollToTop()"
  />
  <div class="scroll-popup" *ngIf="showPopup">
    <div class="popup-content">
      <p>💌 Por fin tenemos nuestro propio Adventure Book, aquí podremos buscar, actualizar y crear <strong>nuevos</strong> recuerdos juntos.<br> 
         💡Puedes buscar nuestros <strong>Mejores recuerdos</strong> en la barra de búsqueda.<br> 
          ☝🏼O si quieres podemos <a routerLink="pages/creaturecuerdo/crea-tu-recuerdo/crea-tu-recuerdo-page">
          <strong>Crear un Nuevo recuerdo</strong></a><br>📸¡Exploremos y hagamos <strong>Nuevos recuerdos</strong>!</p>
          <button (click)="cerrarPopup()">Cerrar</button>
    </div>
  </div>
</section>
